* {
    border-width: 0px;
    font-family: monospace;
}

body {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.kpl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    background-color: antiquewhite;
    width: 100%;
}

.kpl h1 {
    margin-left:10px;
    margin-right:10px;
}

.bdn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin: 6.8rem 0px;
    padding: 3rem 3rem;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px;
}

#form{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    background-color: antiquewhite;
    padding: 3rem 3rem;
    margin-bottom: 50px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px;
}

.titel {
    margin: -1px 0px;
    margin-bottom: 1rem;
    text-align: center;
}

.bdn input {
    margin-right: 5px;
    border-radius: 5px;
    font-size: large;
    width: 50rem;
    height: 1rem;
    padding: 1rem;
    background-color: rgb(236, 226, 255);
    box-shadow: 0px 0px 3px 0px purple;
}

.addbtn {
    padding: 0.6rem;
    width: 14%;
    margin-right: 5px;
    background: #d9d9d9;
    color: #555;
    box-shadow: 0px 0px 3px 0px purple;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    align-self: flex-end;
}

.addbtn:hover {
    background-color: rgb(173, 52, 230);
    color: aliceblue;
}

.hasil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    margin-bottom: 1rem;
    width: 50rem;
    box-shadow: 0px 0px 5px 0px;
    padding: 2rem 3.9rem;
    border-radius: 5px;
}

.hasil2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    width: 50rem;
    box-shadow: 0px 0px 5px 0px;
    padding: 2rem 3.9rem;
    border-radius: 5px;
}

.hasil h3,.hasil2 h3 {
    font-size: 20px;
}

.isi-hasilblm {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px purple;
    background-color: rgb(236, 226, 255);
}

.isi-hasilblm1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.isi-hasilblm1 .fw-bold{
    margin-bottom: -9px;
    font-weight: bold;
    font-size: 15px;
}
.isi-hasilblm1 .small{
    font-size: 11px;
}

.isi-hasilblm2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img1 {
    width: 15px;
    padding: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.img2 {
    width: 13.5px;
    padding: 0.1rem;
    color: wheat;
    cursor: pointer;
    transition: 0.3s;
}

footer {
    position: relative;
    background-color: antiquewhite;
    width: 100%;
}

footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
    
    .kpl {
        width: 100%;
    }

    .kpl h1 {
        font-size: large;
    }
    
    .bdn {
        padding: 2rem 2rem;
        margin: 10rem 0rem;
    }
    
    #form {
        padding: 1.5rem 2rem;
    }
    
    .titel {
        font-size: medium;
    }

    .jdl {
        font-size: small;
    }
    
    .bdn input {
        width: 280px;
        font-size: 11px;
        height: 5px;
        margin-bottom: -5px;
    }
    
    .addbtn {
        width: 20%;
        padding: 0.6rem;
        text-align: center;
        font-size: 11px;
    }
    
    .hasil {
        width: 280px;
        padding: 5px 30px;
    }
    
    .hasil2 {
        width: 280px;
        padding: 5px 30px;
    }
    
    .hasil h3,.hasil2 h3 {
        margin: 1rem 0rem;
        font-size: medium;
    }

    .isi-hasilblm1 .fw-bold {
        font-size: 10px;
        
    }
    
    .isi-hasilblm1 .small {
        font-size: 9px;
    }
    
    .img1 {
        width: 10px;
    }
    
    .img2 {
        width: 10px;
    }
    
    footer {
        margin-top: auto;
    }
    
    footer p {
        font-size: 10px;
    }
}
